@font-face {
    font-family: "TT Lakes Regular";
    src: url(./fonts/TTLakes-Regular.woff) format('woff');
}

@font-face {
    font-family: "TTLakes Bold";
    src: url(./fonts/TTLakes-Bold.woff) format('woff');
}




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


.sidebar {
    font-family: 'TT Lakes Regular';
    position: absolute;
    left: 0;
    top: 0;
    width: 320px;
    height: 100vh;

    background-color: rgb(244, 244, 244);
}

.header {
    display: flex;
    flex-wrap: wrap;
    gap: 78px;
}

.box-one {
    display: flex;
    width: 178px;
    height: 89px;
    align-items: center;
    justify-content: flex-end;
    gap: 17px;

    // &__icon-hover {
    //     :hover {
    //         opacity: 0.4;
    //     }

    //     transition: all 0.4s ease;
    // }
}

.box-two {
    align-self: center;
}

.divider {
    position: absolute;
    left: 0;
    top: 102px;

}

.main-menu {
    width: 223px;
    height: 285px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;

    &__element {
        padding-left: 24px;
    }



    // &__element--check {
    //     color: #7E7E82;
    // }

    &__button {
        border: none;
        outline: none;
        background-color: transparent;

        &:focus {
            color: #7E7E82;
        }
    }

}

.footer {
    position: absolute;
    bottom: 32px;
    left: 24px;
    width: 223px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 16px;

    &__icons {
        display: flex;
        justify-content: flex-start;
        gap: 16px;

    }



    &__number {
        font-family: 'TTLakes Bold';
        font-size: 24px;

        a {
            text-decoration: none;
            color: #1B1C21;

            &:focus {
                outline-width: 0 0 1px 0;
                outline-color: rgb(191, 191, 191);
            }
        }
    }

    &__email {

        a {
            text-decoration: none;
            color: #1B1C21;

            &:focus {
                outline-width: 0 0 1px 0;
                outline-color: rgb(191, 191, 191);
            }
        }
    }

    &__languages {
        display: flex;
        gap: 7px;
        margin-top: 24px;

        & button {
            border: none;
            outline: none;
            background-color: transparent;
            border: 1px solid transparent;

            &:first-child {
                color: #7E7E82;
            }

            &:focus {
                border: 1px solid rgb(191, 191, 191);

            }
        }

    }
}

.button {
    border: 0;
    border: none;
    outline: none;
    background-color: transparent;

    &:focus,
    :hover {
        opacity: 0.4;

        transition: all 0.5s ease;
    }
}

.button-selected {
    color: #7E7E82;
}